* {
    font-family: 'Open Sans', serif;
}

body {
    background-image: url('/img/bg.jpg');
    padding: 10px;
}

h1 {
    font-size: 28px;
    margin-top: 0;
}

#wrapper {
    border: 1px solid black;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

#header {
    color: white;
    background-color: #ed3a1e;
}

#header a {
    color: white;
    text-decoration: none;
}

#header .menu {
    display: flex;
    line-height: 60px;
    flex-wrap: wrap;
}

#header .menu > div {
    margin: 0 20px;
    flex: 1 1 auto;
    text-align: center;
}

#content {
    background-color: white;
    padding: 20px;
}

#footer {
    background-color: white;
    text-align: center;
    padding-bottom: 30px;
}

#footer .main-sponsor {
    margin-bottom: 30px;
}

#footer .main-sponsor .title,
#footer .sponsors .title {
    font-weight: bold;
    margin-bottom: 10px;
}

#footer .sponsors .logos {
    line-height: 150px;
}

#footer .sponsors .logos img {
    vertical-align: middle;
    margin: 30px;
    max-width: calc(100% - 60px);
}

#sponsor-autopeltityo-koivumaki {}
#sponsor-funsense { width: 275px; }
#sponsor-gigantti { width: 280px; }
#sponsor-k-rauta {}
#sponsor-liedon-asbestipalvelut { width: 445px; }
#sponsor-lofbergs {}
#sponsor-moi { width: 230px; }
#sponsor-mplus {}
#sponsor-pieni-erikoispuoti { width: 215px; }
#sponsor-rtv { }
#sponsor-salonen { width: 260px; }
#sponsor-turun_eines { width: 205px; }
#sponsor-vw { width: 150px; }

#footer .sponsors .names {
    display: flex;
    flex-wrap: wrap;
}

#footer .sponsors .names div {
    flex: 1 0 auto;
    padding: 10px 20px;
}
