* {
    font-family: 'Open Sans', serif;
}

body {
    background-image: url('/img/bg.jpg');
    padding: 10px;
}

h1 {
    font-size: 28px;
    margin-top: 0;
}

#wrapper {
    border: 1px solid black;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

#header {
    color: white;
    background-color: #ed3a1e;
}

#header a {
    color: white;
    text-decoration: none;
}

#header .menu {
    display: flex;
    line-height: 60px;
    flex-wrap: wrap;
}

#header .menu > div {
    margin: 0 20px;
    flex: 1 1 auto;
    text-align: center;
}

#content {
    background-color: white;
    padding: 20px;
}

#footer {
    background-color: white;
    text-align: center;
    padding-bottom: 30px;
}

#footer .main-sponsor {
    margin-bottom: 30px;
}

#footer .main-sponsor .title,
#footer .sponsors .title {
    font-weight: bold;
    margin-bottom: 10px;
}

#footer .imgs {
    line-height: 150px;
}

#footer .imgs img {
    vertical-align: middle;
}

#sponsor-vw { width: 150px; }
#sponsor-lidl { width: 150px; }
#sponsor-rtv { }
#sponsor-gobabygo { width: 150px; }
