<div class="main-sponsor">
  <div class="title">Pääsponsori</div>
  <img id="sponsor-{{ site.main_sponsor_logo | split: "." | first }}" src="/img/{{ site.main_sponsor_logo }}">
</div>
<div class="sponsors">
  <div class="title">Sponsorit</div>
  <div class="logos">
    {% for row in site.sponsor_logos %}
      <div class="logos-row">
      {% for logo in row %}
        <img id="sponsor-{{ logo | split: "." | first }}" src="/img/{{ logo }}">
      {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
